  <ion-header>
    <ion-toolbar color="primary">
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>Check Food</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Promoção do dia</ion-card-title>
      <ion-card-subtitle>Combo 4 por R$ 29,90</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShP-h3WrrN3eHGfEk21_R5aRH66eO3V9gssvlupNotSNNEmY9G-e0xqNfH23E8wmJg1Ag&usqp=CAU"></ion-img>
    </ion-card-content>
    <ion-card-content>Um delicioso burguer com carne de hamburguer de 120g (boi ou frango), salada de tomate, alface e cebola roxa, queijo prato, molho especial. Acompanha porção pequena de batata assada e uma vitamina de açai de 300ml</ion-card-content>
  </ion-card>

  <ion-button color="secondary" expand="block" (click)="abrirPagina('principal')">Quero Pedir</ion-button>

  <ion-button color="secondary" expand="block" (click)="abrirPagina('principal')">Voltar</ion-button>

  </ion-content>
