ion-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

ion-card-subtitle {
  font-size: 20px;
  text-align: center;
}

ion-card-content {
  text-align: justify;
  font-size: 20px;
}
